# Build outputs
bin/
dist/
docs/
*.exe
*.exe~
*.dll
*.so
*.dylib


# Test and coverage artifacts
*.test
*.out
coverage.out

# Dependency/vendor directories
vendor/

# IDE and OS files
.DS_Store
.idea/
.vscode/
server
